@use "_commons" as c;

/* index.html */
.index_body{
    background-color:map-get(c.$color-fondo,"body");
    font-family: alata,sans-serif;
    color:c.$color-fuente;
    text-align: center;
    height:auto;
}

.boton-pedidos{
    text-align: right;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 1;
    button{
        margin-top:20px;
        background:#ff8ba7;
        padding:10px 20px;
        cursor: pointer;
        border: none;
        color: #8a4358;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        border-radius: 20px;
        
    }
    button::before{
        content: "";
        position:absolute;
        top:0;
        left:0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            45deg,
            #ff8ba7, #68d678, #ffc6c7, #ff8ba7,#68d678, #ff8ba7, #ffc6c7,#ff8ba7
        );
        background-size: 800%;
        border-radius: 10 px;
        filter:blur(8px);
        animation: glowing 20s linear infinite;
    }
    
    @keyframes glowing{
        0%{
            background-position: 0 0;
        }
        50%{
            background-position: 400% 0;
        }
        100%{
            background-position: 0 0;
        }
    }
}

main{
    height:82vh;
    color:c.$color-fuente;
    display: grid;
    grid-template-columns: 1fr;
    .carousel{
        padding-top:20px;
        height: auto;
        .carousel-inner{
            height: auto;
            .carousel-item{
                img{
                    height: 50vh;
                }
            }
        }
    }
    
    #descripcion{
       align-self: end; 
       font-size: large;
       background-color:map-get(c.$color-fondo,"titulos");
          
    }

}

#Nos_recomiendan{
    #video{
        color:c.$color-fuente;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        background-color:map-get(c.$color-fondo,"titulos");
        #video--recomiendan1 iframe{
            height: 35vh;
            width:100%;
        }
        #video--recomiendan2 iframe{
            height: 35vh;
            width:100%;
        }
    }
}

/* nosotros.html */
#quienes_somos{
    display:grid;
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
    justify-items: center;
    gap:20px;
    padding:10px;
    &--foto{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        width:90%; 
        padding: 15px;
        gap:10px;
        background-color: #dfeedd;
        border-radius: 12px;
        .quienes_somos--foto--p{
            width: auto;
            color:c.$color-fuente;
            margin:auto;
            padding:auto;   
        }      
    }
}

/* productos.html  */
.productos{
    height:auto;
    display:grid;
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
    .productos__nav ul{
        gap: 10px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,1fr);
        
        li{
            list-style: none;
            background-color:#dfeedd;
            border-radius: 20px;
            padding-top:30px;
            #img__productos{
                height:12vh;
                transition: height 0.5s;
                &:hover{
                    height:13vh;
                }
            }
            a{
                color: c.$color-fuente;
                text-decoration: none;
                &:hover{
                    color: c.$hover-nav;
                }
            }
        }
    }
}

/* galeria.html */
/* main galeria.html */
.w3-row-padding{
    border:solid black;
    display:flex;
    height:auto;
    gap:10px;
    .w3-fourth{
        border: soild yellow;
        opacity:.8;
        img{
            border: soild blue;
            flex-grow: 1;
            object-fit: cover;
        }
        &:hover{
            width: 105%;
            opacity:1;
            filter:contrast(120%);
            transition:.5s ease;
        }
    }
}
.footer__galeria{
    display:grid;
}


/* ustedes.html */
.ustedes{
    height:auto;
    width:100%;
    display:grid;
    grid-template-columns: 1fr;
    margin:0;
    padding:0;
    #ustedes__fotos img{
        width:auto;
        height:auto; 
    }
}


/* contacto.html */
.contacto{
    height:70vh;
    margin:0;
    padding:0;
    form{
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        height:70vh;
        label{
            background-color: map-get(c.$color-fondo,"titulos");
        }
        #mensaje{
            width:100%;
        }
        input{
            background-color:#f7c8d3;
        }
        #boton_enviar{
            height:6vh;
            width:12em;
            &:hover{
                background-color: c.$hover-nav;
                cursor: pointer;
            }
        }
    }
}