@use "_commons" as c;

/* General */
/* Header */
header{
    height: auto;
    border-bottom: solid c.$color-fuente;
    width:100%;
    background-color: map-get(c.$color-fondo,"body");
    
    .navbar{
        background-color: map-get(c.$color-fondo,"body");
        margin:0;
        padding:0;
        .container-fluid{
            gap: 30px;
            background-color: map-get(c.$color-fondo,"body");
            
            .logotipo {
                margin-top:auto;
                margin-bottom:auto;
                display:flex;
                flex-direction: row;
                justify-content: space-evenly;
                width:75%;
                .logo{
                    height: 8vh;   
                    transition: 0.5s;
                    &:hover{
                        height: 9vh;
                    }
                }
                h1{
                    color:c.$color-fuente;
                    align-self: center;
                }
            }
            
            .navbar-collapse{
                background-color:map-get(c.$color-fondo,"body"); 
                .nav-item a{
                    color:c.$color-fuente;
                    text-align:left;
                    font-size: 15px;
                    transition: font-size 0.5s;
                    &:hover{
                        font-size: 16px;
                        color:c.$hover-nav;
                    }
                }
            }

            .redes{
                display:none;
            }
        }
    }
}
