@media screen and (min-width: 768px) {

    /* General */
    /* Header */
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /*.logotipo {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 40%;
            .logo{
                padding: 10px; 
            }
            
            h1{
                text-align: center;
                font-size:25px;
                display:inline-block;
            }
        }*/


        #redes{
            width: auto;
            flex-direction: row;   
        }
    }

    #Nos_recomiendan {
        #video{
            display: flex;
            flex-direction: row;
            width: auto;
            height: auto; 
            #video--recomiendan1{
                height: 85vh;
                width:100%;
                iframe{
                    height: 65%;
                }
            }
            #video--recomiendan2{
                height: 85vh;
                width:100%;
                iframe{
                    height: 65%;
                }
            }
        }
    }
    
    /* nosotros.html */
    #quienes_somos--foto{
        display: flex;
        flex-direction: row;
        height: auto;
        width: 90%;
        .foto_quienes{
            width: 50%;
            transform: none;
        }
        .quienes_somos--foto--p{
            width: 100%;
            margin: auto;     
        }
    }
    
    
    /* productos.html */
    .productos__nav ul{
        justify-items: center;
        li a p{
            width:100%;
        }
    }


    /* galeria.html */
    .galeria__header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #redes__galeria{
        width: auto;
        flex-direction: row;
        
    }

    .w3-row-padding{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
    }


    /* ustedes.html */
   


    /* contacto.html */
    .contacto{
        justify-content: center;
    }
}


@media screen and (min-width: 1024px) {

    /* index */
    main{
        .carousel{
            .carousel-inner{
                height:65vh; 
            }
        }

        #video{
            display: flex;
            width: auto;
            height: 100vh;
            #video--recomiendan1{
                height: 70vh;
                width: 50%;
                padding: 10px;
            }
            #video--recomiendan2{
                height: 70vh;
                width: 50%;
                padding: 10px;
            }
        }   
    }
    
    /* nosotros */
    #quienes_somos--foto{
        display: flex;
        flex-direction: row;
        height: auto;
        width: 40%;
        .foto_quienes{
            width: 40%;
        }
        .quienes_somos--foto--p{
            width: 40%;
            margin: auto;
        }   
    }
}