@import url("https://fonts.googleapis.com/css2?family=Alata&family=Exo+2:wght@100&display=swap");
* {
  margin: 1px;
  padding: 1px;
}

/* General */
/* Header */
header {
  height: 15vh;
  border: solid #8a4358;
  display: grid;
  justify-items: center;
  grid-template-columns: 2fr auto 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav logo redes";
}
header .logotipo {
  grid-area: logo;
  width: auto;
}
header .logo {
  height: 12vh;
  transition: 0.5s;
}
header .logo:hover {
  height: 13vh;
}
header h1 {
  display: none;
  color: #8a4358;
}
header .container-fluid {
  height: 10vh;
  z-index: 1;
  grid-area: nav;
  display: block;
  gap: 30px;
}
header .navbar-collapse {
  background-color: #faeee7;
}
header .nav-item a {
  color: #8a4358;
  text-align: left;
  font-size: 15px;
  transition: font-size 0.5s;
}
header .nav-item a:hover {
  font-size: 16px;
  color: #ff8ba7;
}
header #redes {
  grid-area: redes;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  align-self: center;
}
header #logoredes {
  height: 4vh;
  transition: height 0.5s;
}
header #logoredes:hover {
  height: 4.5vh;
}

h2 {
  height: 10vh;
  font-size: 4vh;
  margin: 15px 0 5px 0;
  background-color: #fffffe;
}

/* Footer */
footer {
  background-color: #a8c8c9;
  color: #13591A;
  font-size: small;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "p p p p" ". nav redes .";
}
footer #texto__footer {
  grid-area: p;
  height: auto;
}
footer #footer_navegador {
  grid-area: nav;
}
footer #footer_navegador ul li {
  list-style: none;
}
footer #footer_navegador ul li a {
  color: #13591A;
}
footer #footer_navegador ul li a:hover {
  color: lightseagreen;
  cursor: pointer;
}
footer #seguinosredes {
  grid-area: redes;
  display: flex;
  flex-direction: column;
  height: auto;
}
footer #seguinosredes a img {
  height: 5vh;
}

/* index.html */
.index_body {
  background-color: #faeee7;
  font-family: alata, sans-serif;
  color: #8a4358;
  text-align: center;
  height: auto;
}

main {
  height: 82vh;
  color: #8a4358;
  display: grid;
  grid-template-columns: 1fr;
  background-image: url(../img/galeria/4.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
main .carousel {
  height: 0vh;
  width: 100%;
}
main .carousel .carousel-item {
  height: 58vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
main #descripcion {
  align-self: end;
  font-size: large;
  background-color: #fffffe;
}

#Nos_recomiendan #video {
  color: #8a4358;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: #fffffe;
}
#Nos_recomiendan #video #video--recomiendan1 iframe {
  height: 35vh;
  width: 100%;
}
#Nos_recomiendan #video #video--recomiendan2 iframe {
  height: 35vh;
  width: 100%;
}

/* nosotros.html */
#quienes_somos {
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-items: center;
}

#quienes_somos--foto {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  width: 90%;
  margin: 0;
  padding: 0;
}

.quienes_somos--foto--p {
  width: auto;
  color: #8a4358;
  background-color: #fffffe;
  margin: auto;
  padding: auto;
}

/* productos.html  */
.productos {
  height: 68vh;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  align-items: center;
}

.productos__nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.productos__nav ul li {
  list-style: none;
}

.productos__nav ul li a {
  color: #8a4358;
  text-decoration: none;
}

.productos__nav ul li a p {
  background-color: #fffffe;
  border: solid 1px #8a4358;
  height: auto;
}

.productos__nav ul li a:hover {
  color: #ff8ba7;
}

#img__productos {
  height: 12vh;
  transition: height 0.5s;
}

#img__productos:hover {
  height: 13vh;
}

/* galeria.html */
.galeria__header {
  display: grid;
}

#redes__galeria {
  grid-area: redes;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logoredes {
  height: 4vh;
  transition: height 0.5s;
}

#logoredes:hover {
  height: 4.5vh;
}

/* main galeria.html */
.w3-row-padding {
  height: auto;
}

.w3-fourth:hover {
  width: 105%;
}

.footer__galeria {
  display: grid;
}

/* ustedes.html */
.ustedes {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

#ustedes__fotos img {
  width: auto;
  height: auto;
}

/* contacto.html */
.contacto {
  height: 70vh;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

#formulario__contacto label {
  background-color: #fffffe;
}

#mensaje {
  width: 100%;
}

form input {
  background-color: #f7c8d3;
}

#boton_enviar {
  height: 6vh;
  width: 12em;
}

#boton_enviar:hover {
  background-color: #ff8ba7;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */