@import url('https://fonts.googleapis.com/css2?family=Alata&family=Exo+2:wght@100&display=swap');

/* Variables */
$color-fuente: #8a4358;
$background-body: #faeee7;
$background-titulos:#fffffe;
$hover-nav: #ff8ba7;
$h2-height:10vh;
$h2-fontsize:4vh;

  

*{
    margin: 1px;
    padding: 1px;
}


/* General */
body{
    background-color:$background-body;
    font-family: alata,sans-serif;
    color:$color-fuente;
    text-align: center;
    height:auto;
}


/* Header */
header{
    height: 15vh;
    border: solid $color-fuente;
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr auto 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "nav logo redes"
    ;
}

.logotipo {
    grid-area: logo;
    width: auto;
   
}

.logo{
    height: 12vh;   
    transition: 0.5s;
   
}

.logo:hover{
    height: 13vh;

}

h1{
    display: none;
    color:$color-fuente;
    
}

h2{
    background-color: $background-titulos;
}

/* Style the navigation menu */
.container-fluid{
    height:10vh;
    z-index: 1;
    grid-area: nav;
    display:block;
    gap: 30px;

}

.navbar-collapse{
    background-color:$background-body;
    
}

.nav-item a{
    color:$color-fuente;
    text-align:left;
    font-size: 15px;
    transition: font-size 0.5s;
}

.nav-item a:hover{
    font-size: 16px;
    color:$hover-nav;
}


/* Style the redes menu */
#redes{
    grid-area: redes;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    align-self: center;
}

#logoredes{
    height: 4vh;
    transition: height 0.5s;         
}

#logoredes:hover{
    height: 4.5vh;
}

h2{
    height:$h2-height;
    font-size:$h2-fontsize;
    margin: 15px 0 5px 0;    
}


/* Footer */
footer{
    background-color: rgb(168, 200, 201);
    color:#13591A; 
    font-size: small;
    display:grid;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "p p p p"
    ". nav redes ."    
    ;      
}

#texto__footer{
    grid-area: p;
    height:auto;
}

#seguinosredes{
    grid-area: redes;
    display: flex;
    flex-direction: column;
    height: auto;
}

#seguinosredes a img{
    height:5vh;
}

#footer_navegador{
    grid-area: nav;
} 

#footer_navegador ul li{
    list-style: none;             
}    

#footer_navegador ul li a{
    color:#13591A;         
}    

#footer_navegador ul li a:hover{
    color: lightseagreen;
    cursor: pointer;
}


/* index.html */
.index_body{
    background-color:$background-body;
    font-family: alata,sans-serif;
    color:$color-fuente;
    text-align: center;
    height:auto;
    
}


main{
    height:82vh;
    color:$color-fuente;
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(../img/galeria/4.jpeg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.carousel{
    height:0vh;
    width: 100%;
    
}

.carousel-item{
    height:58vh;
    width: 100%;
    padding:0;
    margin:0;   
}

#descripcion{
   align-self: end; 
   font-size: large;
   background-color: $background-titulos;
      
}


#video{
    color:$color-fuente;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color:$background-titulos;
    
}
 

#video--recomiendan1 iframe{
    height: 35vh;
    width:100%;
     
}

  
#video--recomiendan2 iframe{
    height: 35vh;
    width:100%;
 
}


/* nosotros.html */

#quienes_somos{
    display:grid;
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
    margin:0;
    padding:0;
    justify-items: center;
                 
}

#quienes_somos--foto{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    width:90%;
    margin:0;
    padding:0;
              
}

.quienes_somos--foto--p{
    width: auto;
    color:$color-fuente;
    background-color: $background-titulos;
    margin:auto;
    padding:auto;
      
}


/* productos.html  */

.productos{
    height:68vh;
    display:grid;
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
    
   
    
}

.productos__nav ul{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    
   
}


.productos__nav ul li{
   list-style: none;
   
          
}

.productos__nav ul li a{
    color: $color-fuente;
    text-decoration: none;   

}

.productos__nav ul li a p{
    background-color:$background-titulos;
    border:solid 1px $color-fuente;
    height: auto;
    
}

.productos__nav ul li a:hover{
    color: $hover-nav;

}


#img__productos{
    height:12vh;
    transition: height 0.5s;
   
}

#img__productos:hover{
    height:13vh;
}


/* galeria.html */
.galeria__header{
    display:grid;
}


#redes__galeria{
    grid-area: redes;
    display:flex;
    flex-direction: column;
    justify-content: center;
   
}

#logoredes{
    height: 4vh;
    transition: height 0.5s;
           
}

#logoredes:hover{
    height: 4.5vh;
       
}



/* main galeria.html */

.w3-row-padding{
    height:auto;
}


.w3-fourth:hover{
    width: 105%;
  
}

.footer__galeria{
    display:grid;
}


/* ustedes.html */
.ustedes{
    height:auto;
    width:100%;
    display:grid;
    grid-template-columns: 1fr;
    margin:0;
    padding:0;
}

#ustedes__fotos img{
    width:auto;
    height:auto;
   
}


/* contacto.html */
.contacto{
    height:70vh;
    margin:0;
    padding:0;

}


form{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height:70vh;
    
}

#formulario__contacto label{
    background-color: $background-titulos;

}

#mensaje{
    width:100%;
   
}

form input{
    background-color:#f7c8d3;
   
}

#boton_enviar{
    height:6vh;
    width:12em;

}

#boton_enviar:hover{
    background-color: $hover-nav;
    cursor: pointer;
    
}